# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
*.exe
*.dll
*.pdb
*.cache
*.log
*.force

# NuGet
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Others
*.dbmdl
*.bak
*.ldf
*.mdf

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# JetBrains Rider
.idea/
*.sln.iml

